<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="StockEntities" connectionString="metadata=res://*/Model.StockModel.csdl|res://*/Model.StockModel.ssdl|res://*/Model.StockModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=sa2010;Persist Security Info=True;database=SADB&quot;" providerName="System.Data.EntityClient"/>
    <add name="AdmEntities" connectionString="metadata=res://*/Model.AdmModel.csdl|res://*/Model.AdmModel.ssdl|res://*/Model.AdmModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=sa2010;Persist Security Info=True;database=SADB&quot;" providerName="System.Data.EntityClient" />
    <add name="AddressEntities" connectionString="metadata=res://*/Model.AddressModel.csdl|res://*/Model.AddressModel.ssdl|res://*/Model.AddressModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=sa2010;Persist Security Info=True;database=SADB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
