<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AddressEntities" connectionString="metadata=res://*/Model.AddressModel.csdl|res://*/Model.AddressModel.ssdl|res://*/Model.AddressModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=sa2010;Persist Security Info=True;database=SADB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>